.container-fluid {
    height: 47vw;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    background: black;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 100vw;
}

a {
    color: white;
}

.dropdown {
    background: transparent;
}

.jumbotron {
    background-color: #3F51B5;
    color: white;
}

footer {
    margin-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #9E9E9E;
    padding-top: 25px;
    color: #908f8f;
}

.dropdown-menu .btn:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown {
    width: 60px;
    height: 30px;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #636363;
    background-color: transparent;
    border-color: transparent;
    font-size: xx-large;
}

.bg-light {
    background-color: transparent;
}

.row {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 5%;
}

.btn {
    color: #000;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    padding: 0.9% .0.9%;
}

body {
    background-color: #f5f5f5;
}

#submit {
    color: #f5f5f5;
    background-color: #007bff;
    border-color: #007bff;
    padding: 6px;
}

.carousel-inner {
    width: 100%;
    height: 100%
}

.d-block w-100 {
    width: auto;
    height: auto;
}

.form-control {
    width: 300px;
    vertical-align: 50%;
}

.name {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    text-align: center;
}

.price {
    color: #ff6709;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.image {
    width: 160px;
    height: 160px;
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 37px;
    margin-right: 37px;
}

.item {
    height: 300px;
    position: relative;
    border: none;
    background: #fff;
    text-align: center;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 34px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(-5px, -5px, 0);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}